@{
    ViewData["Title"] = "Services";
}
<div class="bg-blue">
    <div class="container">
        <!--header-->
        <partial name = "_HeaderPartial" />
        <section id="page-title">
            <div class="content">
                <h1>Services</h1>
                <div class="breadcrumb">
                    <a href="#">Home</a> | <a href="#">Services</a>
                </div>
            </div>
        </section>
    </div>
</div>
<!--services-->
<section id="services">
    <div class="container">
        <div class="d-grid">
            <div class="row">
                <div class="card col">
                    <img src="/images/gray-square.svg" class="card-img-top" alt="gray placeholder">
                    <div class="card-body">
                        <img src="/images/tiny-blue-square.svg" alt="blue placeholder">
                        <h5 class="card-title">UX/UI Design</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br><br>Hi Mom!</p>
                    </div>
                </div>
                <div class="card col">
                    <img src="/images/gray-square.svg" class="card-img-top" alt="gray placeholder">
                    <div class="card-body">
                        <img src="/images/tiny-blue-square.svg" alt="blue placeholder">
                        <h5 class="card-title">IT Consultancy</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br><br>Hi Mom!</p>
                    </div>
                </div>
                <div class="card col">
                    <img src="/images/gray-square.svg" class="card-img-top" alt="gray placeholder">
                    <div class="card-body">
                        <img src="/images/tiny-blue-square.svg" alt="blue placeholder">
                        <h5 class="card-title">Technology Prof.</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br><br>Hi Mom!</p>
                    </div>
                </div>                        
            </div>
            <div class="row">
                <div class="card col">
                    <img src="/images/gray-square.svg" class="card-img-top" alt="gray placeholder">
                    <div class="card-body">
                        <img src="/images/tiny-blue-square.svg" alt="blue placeholder">
                        <h5 class="card-title">Web Development</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br><br>Hi Mom!</p>
                    </div>
                </div>
                <div class="card col">
                    <img src="/images/gray-square.svg" class="card-img-top" alt="gray placeholder">
                    <div class="card-body">
                        <img src="/images/tiny-blue-square.svg" alt="blue placeholder">
                        <h5 class="card-title">App Development</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br><br>Hi Mom!</p>
                    </div>
                </div>
                <div class="card col">
                    <img src="/images/gray-square.svg" class="card-img-top" alt="gray placeholder">
                    <div class="card-body">
                        <img src="/images/tiny-blue-square.svg" alt="blue placeholder">
                        <h5 class="card-title">Game Design</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br><br>Hi Mom!</p>
                    </div>
                </div>                        
            </div>
        </div>
    </div>
</section>