@{
    ViewData["Title"] = "Access Denied";
}

<div class="bg-blue">
    <div class="container">
        <!--header-->
        <partial name = "_HeaderPartial" />
        <section id="page-title">
            <div class="content">
               <div class="container">
                    <h3>Access Denied</h3>
                    <img src="https://lh5.googleusercontent.com/proxy/4pzKRIujQ0IRTwHmbCBxdyzDygZfADhqJDsKSRfI5aZk0tPTt7NlPf3LoABhBvHzxOJGFI4i-YCRkNfLK-jmXEmrjncVBNGS7e8Ft5BaDLiryvAh5DKUXQ=s0-d" alt="cute access denied cat" />
                </div> 
            </div>
        </section>
    </div>
</div>