@{
    ViewData["Title"] = "Access Denied";
}

<div class="bg-blue">
    <div class="container">
        <!--header-->
        <partial name = "_HeaderPartial" />
        <section id="page-title">
            <div class="content">
               <div class="container mt-5">
                    <h3>Access Denied</h3>
                    <iframe src="https://giphy.com/embed/11wR9XJ1xHTqBa" width="480" height="212" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/the-lord-of-rings-no-11wR9XJ1xHTqBa">via GIPHY</a></p>
                </div> 
            </div>
        </section>
    </div>
</div>