 <footer>
    <div class="bg-darkblue">                
        <div id="footer-grid">
            <div class="column">
                <div class="footer-item">
                    <h2>OmniVus.</h2>
                    <p>The web has changed a lot since we posted our first article back in 2007. The team at Mattin-Lassei Group has changed too, as have the things that we bring to our community conferences, books and our membership added to the online magazine.</p>
                    <p>One thing that hasn't changed is that we're a small team - with most of us not working.</p>
                </div>
            </div>
            <div class="column">
                <div class="footer-item">
                    <h2>Working Hours</h2>
                    <ul>
                        <li>Monday - Friday: 07:00 - 17:00</li>
                        <li>Saturday: 07:00 - 12:00</li>
                        <li>Sunday and holidays: 08:00 - 10:00</li>
                    </ul>
                    <p><strong>For more than 15 years</strong> IT Services has been a reliable partner in the field of logistics and cargo forwarding.</p>
                </div>
            </div>
            <div class="copyright">
                <p>
                    Copyright © Mattin-Lassei Group AB - 2022
                </p>
            </div>                    
        </div>    
    </div>
 </footer>