@using FinalProject_MVC_With_Identity.Services
@using Microsoft.AspNetCore.Identity
@inject IProfileManager _profileManager

<div class="header-grid">
    <div id="logo">
        <h1>OmniVus.</h1>
        <p>IT Service & Technology</p>
    </div>
    <nav id="top-menu">
        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-controller="Profile" asp-action="Index" asp-route-id="@User.FindFirst("UserId").Value">@await _profileManager.DisplayNameAsync(User.FindFirst("UserId").Value)</a>
            <div class="social">
                @if (User.IsInRole("admin"))
                {
                    <a asp-controller="Admin" asp-action="Roles">Roles</a>
                    <a asp-controller="Admin" asp-action="Users">Users</a> 
                }
                <a asp-controller="Auth" asp-action="SignOut">Sign Out</a>
            </div>

        }
        else
        {
            <a href="info@domain.com">info@domain.com</a>
            <div class="social">
                <a href="https://facebook.com">facebook</a>
                <a href="https://twitter.com">twitter</a>
                <a href="https://linkedin.com">linkedin</a>
                <a href="https://youtube.com">youtube</a>
            </div>
        }
    </nav>
    <nav id="main-menu">
        <div class="menu-items">
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Home" asp-action="Services">Services</a>
            <a asp-controller="Home" asp-action="Contact">Contact</a>
        </div>
        @if (!SignInManager.IsSignedIn(User))
        {
           <a asp-controller="Auth" asp-action="SignIn" class="btn btn-main">Sign In</a> 
        }

    </nav>
</div>