@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<section id="error-page">
    <div class="container">
        <img src="/images/404-site.svg" alt="404">
        <div class="error-text">
            <h2>Looks Like Here Is Nothing</h2>
            <p>Don't be fret. We are here.</p>                     
        </div>
    </div>
</section>
